<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        body {
            padding: 20px 0;
        }
        .custom-container {
            width: 600px;
            margin: 0 auto;
        }
        .flex {
            display: flex;
            justify-content: center;
        }

        .flex img {
            width: 150px;
            height: 150px;
            margin: auto;
            margin: 15px;
        }
        .pos {
            position: absolute;
            bottom: 1px;
        }
        .flex.url {
            margin-top: 13px; 
        }
    </style>

    <div id="app" class="custom-container">
        <div class="flex">
            <img src="./image.jpg">
        </div>
        <div class="flex">
            <a href="/">
                <div class="ui button">Home</div>
            </a>
            <a href="/gauge.html">
                <div class="ui button">Gauge</div>
            </a>
        </div>

            <input type="radio" name="fruit" value="one" v-model="radio">
            <label>Hari ini</label>
            <input type="radio" name="fruit" value="two" v-model="radio">
            <label>Range hari</label>

            <div v-show="radio == 'one'">
                <label>mulai</label>
                <select v-model="one.startAt">
                    <option v-for="(n, i) in 24">{{ i }}</option>
                </select>

                <label>sampai</label>
                <select v-model="one.endAt">
                    <option v-for="(n, i) in 24">{{ i }}</option>
                </select>
                <button @click="oneSubmit">submit (console)</button>
            </div>

            <div v-show="radio == 'two'">
                <label>mulai</label>
                <input type="date" v-model="two.startAt">
                <label>sampai</label>
                <input type="date" v-model="two.endAt">
            </div>

        <button @click="test">debugger</button>

        <div class="ui form" style="margin-top: 20px;">
            <div class="four fields">
                <div class="field">
                    <label>Tanggal</label>
                    <input type="date">
                </div>
                <div class="field">
                    <label>Jam</label>
                    <input type="text" placeholder="Jam">
                </div>
                <div class="field">
                    <label>Set Point</label>
                    <input type="text" placeholder="Set Point" v-model="setPoint">
                </div>
                <div class="field">
                    <button class="ui button pos" @click="renderChart">Submit</button>
                </div>
            </div>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

    <script>

        new Vue({
            el: '#app',
            data: {
                setPoint: 12,
                chartData: [],
                radio: 'one',
                one: {
                    startAt: '',
                    endAt: '',
                },
                two: {
                    startAt: '2017-07-04',
                    endAt: ''
                }
            },
            methods: {
                test() {
                    console.log(this.two.startAt)
                    console.log(this.two.endAt)
                },
                oneSubmit() {
                    var date1 = ''
                    var date2 = ''
                    console.log(this.one.startAt, this.one.endAt)
                    if (this.one.startAt < 10 || this.one.endAt < 10) {
                        date1 += '0' + this.one.startAt + ':00:01'
                        date2 += '0' + this.one.endAt + ':00:01'
                    }
                    else {
                        date1 += ':00:01'
                        date2 += ':00:01'
                    }
                    if (this.one.endAt == 23) date2 = '23:59:59'
                    console.log(date1, date2)
                },
                renderChart() {
                    var asd = []
                    this.chartData.forEach(a => {
                        var data = {
                            ...a
                        }
                        if (a.value >= this.setPoint) {
                            data.color = 'red'
                        }
                        else {
                            data.color = 'green'
                        }
                        asd.push(data)
                    })

                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: asd.map(a => a.label),
                            datasets: [{
                                // label: '# of Votes',
                                data: asd.map(a => a.value),
                                backgroundColor: asd.map(a => a.color),
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    })
                },

            },

            mounted() {
                fetch('./sample-data.json')
                    .then(response => {
                        return response.json();
                    })
                    .then(myJson => {
                        console.log(myJson);
                        this.chartData = myJson
                        this.renderChart()
                    });
            }
        })
    </script>
</body>

</html>